<header>
  <div class="container">
    <a href="/"><h1>VNDOT Agar.io</h1></a>
    <h2>VNDOT Agar.io extension offical website</h2>

    <section id="downloads">
      <a href="http://heroandtn3.github.io/download/vndot/vndot.firefox.js" target="_blank" class="btn btn-github"><i class="fa fa-firefox"></i> Download for Firefox</a>
      <a href="http://heroandtn3.github.io/download/vndot/vndot.chrome.js" target="_blank" class="btn btn-github"><i class="fa fa-chrome"></i> Download for Google Chrome</a>
      <a href="https://github.com/vndot" class="btn btn-github"><span class="icon"></span>Join us</a>
    </section>
  </div>
</header>
